@using RestaurantManagement.UI.Areas.Admin.Models;
@using System.Globalization;

<section class="section-discover-menu">
    @{
        if (TempData["AddCartSuccess"] is not null)
        {
            <p style="font-size:18px; color:blue">@TempData["AddCartSuccess"]</p>
        }
    }
    <div class="container">
        <div class="heading-two">
            <h2>Thực Đơn</h2>
            <div class="line"></div>
        </div>
        <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            @{

                var category = (IEnumerable<SelectListItem>)ViewBag.Categories;

                foreach (var cat in category) //Model
                {
                    <button class="nav-link btn-category" type="button" data-key="@cat.Value" data-name="@cat.Text">
                        <img height="100" src="~/images/category/@(string.IsNullOrEmpty(cat.Value) ? "noimage.png" : $"{cat.Value}.png")" />
                        @cat.Text
                    </button>
                }
            }



        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row align-items-center discover-menu">
                    <div class="col-xl-6">
                        <div class="discover-img">
                            <img alt="discover" src="https://via.placeholder.com/590x588">
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="discover">

                            <h4 id="category-title">@ViewBag.FirstNameCategory</h4>
                            <ul id="ls-food">
                                @{
                                    CultureInfo culture = new CultureInfo("vi-VN");
                                    var foods = (IEnumerable<FoodModel>)ViewBag.Food;
                                    foreach(var f in foods)
                                    {
                                        <li>
                                            <div>
                                                <a href="/food/detail?code=@f.Code"><h6>@f.Name</h6></a>
                                                <p>@f.Description</p>
                                            </div>

                                            <span>@(string.Format(culture, "{0:N2}", f.Price))</span>
                                        </li>
                                    }
                            }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section class="how-we-work">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-xl-7">
            <div class="heading">
               <h6> ORDER DỄ DÀNG VỚI 3 BƯỚC</h6>
               <h2>CÁCH THỰC HIỆN</h2>
            </div>
            <div class="easy-orded-style">
               <div class="easy-orded">
                  <sup>1</sup>
                  <i>
                     <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m408.5 95.005h-25v-60.014c0-11.197-5.417-21.799-14.49-28.36s-20.839-8.386-31.473-4.878l-245.001 80.806c-14.377 4.743-24.036 18.101-24.036 33.239v279.536 81.666c0 19.299 15.701 35 35 35h305c19.299 0 35-15.701 35-35v-346.995c0-19.298-15.701-35-35-35zm5 381.995c0 2.757-2.243 5-5 5h-305c-2.757 0-5-2.243-5-5v-96.665-250.33c0-2.757 2.243-5 5-5h305c2.757 0 5 2.243 5 5zm-66.566-446.757c2.112-.696 3.723.138 4.497.697.773.559 2.07 1.828 2.07 4.051v60.015h-202.923z"/><path d="m156 298.481h18.182 181.818c8.284 0 15-6.716 15-15s-6.716-15-15-15h-4.345c-6.466-41.398-39.257-74.189-80.655-80.655v-7.516c0-8.284-6.716-15-15-15s-15 6.716-15 15v7.516c-41.398 6.466-74.189 39.257-80.655 80.655h-4.345c-8.284 0-15 6.716-15 15s6.716 15 15 15zm100-81.818c31.688 0 58.294 22.174 65.121 51.818h-130.242c6.827-29.644 33.434-51.818 65.121-51.818z"/><path d="m161.817 339.005c-8.284 0-15 6.716-15 15s6.716 15 15 15h72c8.284 0 15-6.716 15-15s-6.716-15-15-15z"/><path d="m352.25 399.005h-192.5c-8.284 0-15 6.716-15 15s6.716 15 15 15h192.5c8.284 0 15-6.716 15-15s-6.716-15-15-15z"/></svg>
                  </i>
                  <h4>Khám phá Menu</h4>
                  <p>Lựa chọn vô vàng món ăn đang có tại nhà hàng</p>
               </div>
               <div class="easy-orded">
                  <sup>2</sup>
                  <i>
                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
                     <g>
                        <polygon style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="&#10;&#9;&#9;421,497 91,497 71,437 441,437 &#9;"/>
                        
                           <line style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="15" y1="437" x2="497" y2="437"/>
                        <path style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="&#10;&#9;&#9;M465.4,436c-3.43-112.69-95.87-203-209.4-203S50.03,323.31,46.6,436"/>
                        
                           <line style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="256" y1="197" x2="256" y2="230"/>
                        <path style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="&#10;&#9;&#9;M172.952,141c0,0,17.026-22.503,0-46.1s3.784-44.239,3.784-44.239"/>
                        <path style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="&#10;&#9;&#9;M254.971,105.34c0,0,17.026-22.503,0-46.1S258.754,15,258.754,15"/>
                        <path style="fill:none;stroke:#000000;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="&#10;&#9;&#9;M338.178,141c0,0,17.026-22.503,0-46.1c-17.026-23.597,3.784-44.239,3.784-44.239"/>
                     </g>
                     </svg>
                  </i>
                  <h4>Cho vào giỏ hàng</h4>
                  <p>Ấn chọn món ăn để vào giỏ hàng</p>
               </div>
               <div class="easy-orded">
                  <sup>3</sup>
                  <i>
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="512" height="512"><g><path d="M61.707,34.293,49.293,21.879A2.978,2.978,0,0,0,47.171,21H30v2h5V38h2V23H47.171a1,1,0,0,1,.708.293L49.586,25H45a2,2,0,0,0-2,2v9a2,2,0,0,0,2,2H60v8a1,1,0,0,1-1,1H56.92a6.991,6.991,0,0,0-13.84,0H28.92a6.991,6.991,0,0,0-13.84,0H13a1,1,0,0,1-1-1V37H10v9a3,3,0,0,0,3,3h2.08a6.978,6.978,0,0,0,2.031,4H2v2H50a7.006,7.006,0,0,0,6.92-6H59a3,3,0,0,0,3-3V35A1,1,0,0,0,61.707,34.293ZM17,48a5,5,0,1,1,5,5A5.006,5.006,0,0,1,17,48Zm9.889,5a6.978,6.978,0,0,0,2.031-4H43.08a6.978,6.978,0,0,0,2.031,4ZM50,53a5,5,0,1,1,5-5A5.006,5.006,0,0,1,50,53ZM45,36V27h6.586L60,35.414V36Z"/><rect x="21" y="47" width="2" height="2"/><rect x="49" y="47" width="2" height="2"/><rect x="2" y="44" width="5" height="2"/><rect x="4" y="40" width="3" height="2"/><rect x="5" y="36" width="2" height="2"/><path d="M15,35A13,13,0,1,0,2,22,13.015,13.015,0,0,0,15,35Zm0-24A11,11,0,1,1,4,22,11.013,11.013,0,0,1,15,11Z"/><path d="M15,31a1,1,0,0,0,.707-.293C16.351,30.063,22,24.29,22,20A7,7,0,0,0,8,20c0,4.29,5.649,10.063,6.293,10.707A1,1,0,0,0,15,31Zm0-16a5.006,5.006,0,0,1,5,5c0,2.566-3.147,6.531-5,8.551-1.853-2.02-5-5.985-5-8.551A5.006,5.006,0,0,1,15,15Z"/><path d="M18,20a3,3,0,1,0-3,3A3,3,0,0,0,18,20Zm-4,0a1,1,0,1,1,1,1A1,1,0,0,1,14,20Z"/><rect x="40" y="40" width="4" height="2"/></g></svg>
                  </i>
                  <h4>Order</h4>
                  <p>Nhập thông tin địa chỉ và chúng tôi sẽ giao hàng đến cho bạn</p>
               </div>
            </div>
         </div>
         <div class="col-xl-5">
            <div class="easy-orded-video">
                    <img alt="arrow" class="arrow" src="~/admin/assets/images/arrow-2.png">
               <span>Xem và theo dõi</span>
                    <img alt="easy-orded" src="~/site/assets/img/chinise-food.jpg" width="450" height="450">
                    <a data-fancybox="" href="https://www.youtube.com/watch?v=Ba8VfJNNl-M">
                        <i>
               <svg width="15" height="22" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M11 8.5L0.5 0.272758L0.5 16.7272L11 8.5Z" fill="#000"/>
               </svg></i></a>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="gap complimentary" style="background-color:#f5f8fd;">
    <div class="container">
        <div class="heading-two">
            <h2>A Complimentary Cocktail, Coffee, Ice-Tea For You.</h2>
            <p>Enjoy a Cosmopolitian or a non-alcoholic espresso martini.</p>
        </div>
        <div class="row">
            @{
                var randomFoods = (IEnumerable<FoodModel>)ViewBag.RandomFood;
                
                foreach (var f in randomFoods)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6">

                        <div class="fast-food-menus two">
                            <div class="fast-food-img">
                                <img alt="fast-food-img" height="195" width="195" src="~/images/food/@(f.Id).png" />
                                
                            </div>
                            <div>

                                <a href="/food/detail?code=@f.Code"><h3>@f.Name</h3></a>
                                <span>@(string.Format(culture, "{0:N2}", f.Price))</span>




                            </div>
                            <a  data-key="@f.Code" class=" btn-add-cart">
                                <i ><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg></i>
                            </a>

                        </div>
                    </div>
                }
            }
        </div>
        <h5>Booking Calling 24/7:  <a href="callto:+441298123987">+44 1298 123 987</a></h5>
    </div>
</section>



@section Scripts {
    <script src="~/site/components/home.js"></script>
    <script src="~/site/components/cart.js"></script>
}